<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= business.title %></title>
</head>
<body>
    <h1><%= business.title %></h1>
    <h1><%= business.description %></h1>
    <h1><%= business.location %></h1>
    <a href="/business">Back to all businesses</a>
    <a href="/business/<%= business._id %>/update">Update this business</a>
    <form action="/business/<%= business._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</body>
</html>
